body {
  background-color: #7cb3bd;
  display: flex;
  justify-content: center;
}
label,
input {
  margin: 5px;
}
canvas {
  border: 3px solid rgb(66, 4, 4);
  background-color: rgb(255, 255, 255);
  margin: 50px;
}

.painting {
  background-color: #cdedf6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  button {
    background-color: #e9fcff;
    border: 2px solid #06484b;
    transition-duration: 0.4s;
    width: 100px;
    height: 30px;
    margin: 10px;

    &:hover {
      background-color: #e7e7e7;
      color: black;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
    }

    &:disabled {
      background-color: darkgrey;
      color: grey;
      &:hover {
        background-color: darkgrey;
        box-shadow: none;
        color: grey;
        cursor: not-allowed;
      }
    }
  }
}
